<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>Boolflix</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    </head>
    <body>
      <div id="root">

       <header>
         <img src="img/logo.png" alt="logo"/>
         <div class="links">
           <a href="#">Home</a>
           <a href="#">TV Shows</a>
           <a href="#">Movies</a>
           <a href="#">My List</a>
         </div>
         <div class="searchbox">
          <input v-model="userInput" type="text" placeholder='Search'>
          <i class="fas fa-search fa-flip-horizontal" @click='search'></i>
         </div>
        </header>

        <main>
          <div class="cardbox" v-for='film,i in films'>
            <div class="cardboxFront">
              <img :src="'https://image.tmdb.org/t/p/w200'+ film.poster_path"  alt="film-image" @error="imgError">
            </div>
            <div class="cardboxBack">
              <p>Titolo: {{film.title}}</p>
              <span>Titolo Originale:
                <img :src="'img/svg/'+film.original_language+'.svg'" alt="lang-flag" @error="flagError"></span>
              </span>
              <p>Lingua Originale: {{film.original_language}}</p>
              <span> Voto:
                <template v-for="vote in starCounter(film)"><i class="fa fa-star" aria-hidden="true"></i></template><template v-for="vote in (5 - starCounter(film))"><i class="fa fa-star-o" aria-hidden="true"></i></template>
              </span>
            </div>
          </div>

          <div class="cardbox" v-for='tv,i in tvSeries'>
            <div class="cardboxFront">
              <img :src="'https://image.tmdb.org/t/p/w342'+ tv.poster_path" alt="tvSeries-img" @error="imgError">
            </div>
            <div class="cardboxBack">
              <p>Titolo: {{tv.title}}</p>
              <span>Titolo Originale:
                <img :src="'img/svg/'+tv.original_language+'.svg'" alt="lang-flag" @error="flagError"></span>
              </span>
              <p>Lingua Originale: {{tv.original_language}}</p>
              <span> Voto:
                <template v-for="vote in starCounter(tv)"><i class="fa fa-star" aria-hidden="true"></i></template><template v-for="vote in (5 - starCounter(tv))"><i class="fa fa-star-o" aria-hidden="true"></i></template>
              </span>
            </div>
          </div>


        </main>
      </div>

      <script src="js/main.js" charset="utf-8"></script>
    </body>
</html>
