<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>Boolflix</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    </head>
    <body>
      <div id="root">
       <header>
         <img src="img/logo.png" alt="logo"/>
         <div class="links">
           <a href="#">Home</a>
           <a href="#">TV Shows</a>
           <a href="#">Movies</a>
           <a href="#">My List</a>
         </div>
         <div class="searchbox">
          <i class="fas fa-search" @click='search'></i>
          <input v-model="userInput" type="text" placeholder=' Search'>
         </div>
        </header>

        <div v-for="film in library" class="card">
         <div class="card-info">
           <img :src="'https://image.tmdb.org/t/p/w200'+ film.poster_path" alt="film-image">
           <h1>{{film.title}}</h1>
           <h2>{{film.original_title}}</h2>
           <h2>{{film.original_language}}<h2>
           <h2>{{film.vote_average}}<h2>
         </div>
        </div>

      </div>

      <script src="js/main.js" charset="utf-8"></script>
    </body>
</html>
